body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: url('./assets/images/about-us-banner-img.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-box h2 {
    color: #ff5733;
    font-size: 18px;
    margin-bottom: 20px;
}

.login-box .logo {
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#department-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#department-list li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

#department-list li:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

button {
    background-color: #00a2d1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #007ba7;
}

.back-button {
    background-color: #007ba7;
    margin-top: 10px;
}

.back-button:hover {
    background-color: #007ba7;
}
