body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e; /* Dark Blue Background */
    color: white; /* Light text color for contrast */
    margin: 0;
    padding: 0;
}

header {
    background-color:  #1a1a2e; /* Darker Blue for header */
    color: #fff;
    padding: 20px 0; /* Adjusted padding for header */
    text-align: center;
    border-bottom: 4px solid #1a1a2e; /* Accent line */
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* White background for container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1 {
    color : White ;
}

h2 {
    color: #003366; /* Dark blue for headers */
}

.upload-section, .video-gallery {
    margin-bottom: 30px;
    text-align: center; /* Center align the content */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align form elements */
    max-width: 500px; /* Max width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    margin-bottom: 5px;
    color: #333; /* Darker text for labels */
}

input[type="file"], input[type="date"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1; /* Light background for inputs */
    color: #333; /* Dark text color for inputs */
    width: 100%;
}

button {
    background-color: #007BFF; /* Primary blue color */
    color: #fff;
    border: none;
    padding: 10px 20px; /* Increased padding for better appearance */
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#upload-message {
    margin-top: 10px;
    font-weight: bold;
}

.hidden {
    display: none;
}

#video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; /* Center align video items */
}

.video-item {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #2d2d72; /* Dark blue for video items */
    border: 1px solid #444; /* Darker border color */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.video-item iframe {
    width: 100%;
    height: 200px;
    border: none;
}

#load-more {
    display: block;
    width: 100%;
    background-color: #28a745; /* Green color for load more button */
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

#load-more:hover {
    background-color: #218838; /* Darker green on hover */
}
